body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.embed {
    width: 100vw;
    height: calc(100vh - 155px);
}

.tool-root {
    margin-top: 74px;
    margin-bottom: 18px;
    min-height: calc(100vh - 135px);
    overflow: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
